@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 215 20% 16%; /* #20242B */
  --muted: 210 11% 96%; /* #F1F3F6 */
  --muted-foreground: 215 8% 47%; /* #6B7A8F */
  --popover: 0 0% 100%;
  --popover-foreground: 215 20% 16%;
  --card: 0 0% 100%;
  --card-foreground: 215 20% 16%;
  --border: 216 8% 88%; /* #DDE3EA */
  --input: 216 8% 88%;
  --primary: 221 83% 53%; /* #2563EB */
  --primary-foreground: 211 100% 99%; /* #F0F7FF */
  --secondary: 210 11% 96%;
  --secondary-foreground: 215 20% 16%;
  --accent: 210 11% 96%;
  --accent-foreground: 215 20% 16%;
  --destructive: 0 84% 60%; /* #EF4444 */
  --destructive-foreground: 60 9% 98%;
  --ring: 215 20% 16%;
  --radius: 0.5rem;
}

.dark {
  --background: 240 10% 4%; /* #0A0B0F */
  --foreground: 0 0% 98%;
  --muted: 240 4% 16%; /* #24262B */
  --muted-foreground: 240 5% 65%;
  --popover: 240 10% 4%;
  --popover-foreground: 0 0% 98%;
  --card: 240 10% 4%;
  --card-foreground: 0 0% 98%;
  --border: 240 4% 16%;
  --input: 240 4% 16%;
  --primary: 221 83% 53%;
  --primary-foreground: 211 100% 99%;
  --secondary: 240 4% 16%;
  --secondary-foreground: 0 0% 98%;
  --accent: 240 4% 16%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 63% 31%;
  --destructive-foreground: 0 0% 98%;
  --ring: 240 5% 84%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
